<h1>Agregar nuevo tema</h1>

  <form action="/temas/crear" method="POST">
    <label for="titulo">Título del tema:</label>
    <input type="text" id="titulo" name="titulo" placeholder="Ej: Como ser un ninja del cafe">
    <button type="submit">Guardar</button>
  </form>

  <a href="/temas">← Volver a la lista</a>
